{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    
</head>
<body>
    <div class="app">
        <form class="search">
            <input type="search" id="movieQuery" placeholder="Search for Movie Title …">
        </form>
        <ul class="movies">
            <!-- Movie list goes here -->
        </ul>
    </div>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>
<!--{% comment %} {% for movie in movies %}
<li><a href="{% url 'play_movie' movie.title %}">{{ movie.title }}</a></li>
{% endfor %} {% endcomment %}-->