<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload a New Movie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <h2>Upload a New Movie</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <!-- Link to go back to home page -->
    <a href="{% url 'list_movies' %}">Go back to movies list</a>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>
